.nav-bar {
	background: #515f67;
	
}
/*
.col-span-4 {
	width: 22%; 
}

.col-span-2 {
	width: 45%;
}

.contact-form input[type="text"] {
	line-height: 60px;
}

#portf-resp-nav {
	margin-right: 20px;
}